* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #293852;
  color: #f2f3f4;
  width: 50%;
  min-height: 100vh;
  margin: auto;
}

@media (max-width:700px) {
    body {
      width: 90%;
    }
}