.editForm {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: rgba(11, 20, 42, 0.775);
    border-radius: 1rem;
    gap: 1rem;
    color: inherit;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.input,
.textarea {
    outline: none;
    appearance: none;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 1rem;
    font-family: inherit;
    resize: none;
    color: #293852;
    font-size: 1rem;
}

.input::placeholder,
.textarea::placeholder {
    color: #293852;
    opacity: 0.9;

}

.input:focus,
.textarea:focus {
    outline: 0.1rem solid #007FFF;
}

.button {
    appearance: none;
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    color: #293852;
    background-color: white;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #E0E0E0;
}

.error {
    color: red
}